html[comment="true"] #watch-discussion, html[comment="true"] #watch-sidebar-discussion, html[comment="true"] #comments {
	display: none;
}

html[mine="true"] #feed, html[mine="true"] #video-masthead {
	display: none;
}

html[mine="true"] ytd-browse[page-subtype="home"] {
	display: none;
}

html[playlist="true"] #player-playlist .watch-playlist, html[playlist="true"] #playlist {
 	display: none;
 }

html[right="true"] #page .content-alignment {
	min-width: auto !important;
}

/*скрыть левый сайт бар и еще кучу дерьма после видео*/
html[right="true"] #watch7-sidebar, html[right="true"] .video-ads/*, html[right="true"]  .html5-endscreen*/ {
	display: none;	
}

html[right="true"] #masthead-positioner {
	margin: auto;
}

/*размеры футера*/
html[right="true"] #yt-masthead, html[right="true"] #footer {
	max-width: 838px;
	margin: auto;
}

html[right="true"] #watch7-content {
	margin: auto !important;
}

/*плеер*/
html[right="true"] #player .player-api {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/*подложка под плеер*/
html[right="true"] #placeholder-player .player-api {
	margin: auto;
}

/*выравниваем комментарии*/
html[right="true"] .watch-main-col {
	float: none !important;
}

html[right="true"] #player-playlist .watch-playlist {
	margin-left: 0;
    width: calc((100% - 650px)/2);
    min-width: 180px;
    max-width: 300px;
    left: calc(50% + 640px/2);
}

html[right="true"] #page.watch .content-alignment {
	max-width: 100%;
}

@media screen and (max-width: 656px) {
	html[right="true"] .player-width {
		left: 0;
	}
	html[right="true"] #player-playlist .watch-playlist {
		margin-left: auto;
		width: 100%;
		max-width: 424px;
		left: 0;
	}
}


@media screen and (min-height: 630px) and (min-width: 1294px) {
	html[right="true"] #player-playlist .watch-playlist {
		margin-left: 0;
		right: 0;
	    width: calc((100% - 874px)/2);
	    min-width: 216px;
	    max-width: 430px;
	    left: calc(50% + 854px/2);
	}

}

@media screen and (min-height: 980px) and (min-width: 1720px) {
	html[right="true"] #yt-masthead, html[right="true"] #footer {
		max-width: 1280px;
	}
	html[right="true"] .show-guide .appbar-guide-menu-layout {
		left: calc(50% - 1280px/2 - 230px) !important;
	}
	html[right="true"] #player-playlist .watch-playlist {
		margin-left: 0;
		right: 0;
	    width: calc((100% - 1290px)/2);
	    min-width: 216px;
	    max-width: 470px;
	    left: calc(50% + 1280px/2);
	}
}

html[right="true"] #related {
	display: none !important;
}


html[right="true"] #playlist > .ytd-playlist-panel-renderer {
	min-width:290px;
}


@media (min-width: 1000px) and (max-width: 1500px) {
	html[right="true"] #playlist > .ytd-playlist-panel-renderer {
		min-width: 240px;
	}
}


@media (min-width: 1520px) {
	html[right="true"] #playlist > .ytd-playlist-panel-renderer {
		min-width: 356px;
	}
}


html[right="true"] #playlist .ytd-watch {
	width: auto;
}

html[right="true"] #main.ytd-watch, html[right="true"] #top.ytd-watch {
	width: auto;
}

@media (max-width: 1000px) {
 html[right="true"] #main.ytd-watch, html[right="true"] #top.ytd-watch {
 	width: 100%;
 }
}

html[tranding="true"] .ytd-guide-section-renderer[role="option"]:nth-child(2n) {
 	display: none;
}

html[videowall="true"] .html5-endscreen {
	display: none;
}

html[mine_recommen="true"] #contents:first-child div#dismissable.style-scope.ytd-shelf-renderer{
	display: none;
}

html[vk_people_you_may_know="true"] #friends_possible_block{
	display: none;
}

html[vk_ads="true"] .ads_ads_box{
	display: none;
}

html[vk_ads="true"] #ads_left {
	display: none;
}

html[vk_ads="true"] [class~="_ads"] {
	display: none;
}

html[vk_history="true"] .stories_feed_wrap{
	display: none;
} 
html[fb_people_you_may_know="true"] [data-story_category="4"]{
	display: none;
}
html[fb_people_you_may_know="true"] #pagelet_ego_pane {
	display: none;
}
html[fb_people_you_may_know="true"] #pagelet_pymk_timeline {
	display: none;
}

html[fb_people_you_may_know="true"] #fbSearchResultsBox {
	display: none;
}


html[vk_menu_myprofile="false"] #l_pr,
html[vk_menu_news="false"] #l_nwsf,
html[vk_menu_messages="false"] #l_msg,
html[vk_menu_friends="false"] #l_fr,
html[vk_menu_communities="false"] #l_gr,
html[vk_menu_photos="false"] #l_ph,
html[vk_menu_music="false"] #l_aud,
html[vk_menu_videos="false"] #l_vid,
html[vk_menu_games="false"] #l_ap,
html[vk_menu_market="false"] #l_mk,
html[vk_menu_bookmarks="false"] #l_fav,
html[vk_menu_documents="false"] #l_doc {
	display: none !important;
}


/*html[vk_menu_myprofile="true"] #l_pr,*/
/*html[vk_menu_news="true"] #l_nwsf,*/
/*html[vk_menu_messages="true"] #l_msg,*/
/*html[vk_menu_friends="true"] #l_fr,*/
/*html[vk_menu_communities="true"] #l_gr,*/
/*html[vk_menu_photos="true"] #l_ph,*/
/*html[vk_menu_music="true"] #l_aud,*/
/*html[vk_menu_videos="true"] #l_vid,*/
/*html[vk_menu_games="true"] #l_ap,*/
/*html[vk_menu_market="true"] #l_mk,*/
/*html[vk_menu_bookmarks="true"] #l_fav,*/
/*html[vk_menu_documents="true"] #l_doc {*/
    /*display: none;*/
/*}*/